<% provide(:title, "Sign in") %>
<h1 id="right-margin">Sign in</h1>
<div class= "row">
  <div class= "span8 user-signin-img img-circle"></div>
	<div class= "span4 pull-right">
		<%= form_tag sessions_path do %>
		<%= label_tag :email %>
		<%= text_field_tag :email %>

		<%= label_tag :password %>
		<%= password_field_tag :password %>

		<%= submit_tag "Sign in", class: "btn btn-large btn-primary" %>
		<% end %>
	<p> New User? <%= link_to "Sign up now!", signup_path %></p>
	</div>
</div>